page-about {
    ion-icon{
        color: #ffb600;
        margin-top: 0.6em !important;
    }

    .item-divider-md{
        background-color: #ececec !important;
        font-size: 1.5em !important;
    }
    div.item-inner{
        // height: 70px !important;
    }
}
